<h3 class="NewUsers-title">Menu Items for <%=menu.name%></h3>
<% if @current_user.role == "owner" %>
  <div class="AddItem">
    <h2>Add Menu Item :</h2>
    <p><%= link_to "Add-Item" , add_item_path(id: menu.id),class: "AddItem-Link" %></p>
  </div>
<% end %>
<%= link_to cart_path,class: "Cart-Link" do %>
  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
  Go to Cart
<% end %>

<section>
  <%= render partial: "show_menu_items",locals: {menu:menu}%>
</section>
