<main class="UsersPageMain">
  <article>
    <div class="Users-Table">
      <%= render partial:"users-section", locals: {
        users: User.clerk,
        user_title: "Billing Clerks"
      } %>
      <%= render partial:"users-section", locals: {
        users: User.users,
        user_title: "Customers"
      } %>
    </div>
  </article>
</main>
