<main class="UsersPageMain">
  <article>
      <%= render partial:"users-section", locals: {
        users: User.all.where("role=?","clerk"),
        user_title: "Billing Clerks"
      } %>
      <%= render partial:"users-section", locals: {
        users: User.all.where("role=?","customer"),
        user_title: "Customers"
      } %>
  </article>
</main>
