<div class="About">
	<h2>
		About
	</h2>
	<p>
		Foodanza aims to connect the people to a dining experience in the same way ingredients are connected to food. From sprout to plate, we&rsquo;re all about offering smart, healthy, on-the-go people, smart, healthy, on-the-go food delivery services. We believe the choices we make about what we eat, where it comes from and how it&rsquo;s prepared have a direct and powerful impact on the health of individuals, communities and the environment.Food as it should be. Food should taste good. It should feel good. It should do good things for you and the world around you. We want you to feel good. Take a seat ! Grab a treat!
	</p>
	<p>
		<strong>
			 Who are we
		</strong>
	</p>
	<p>
		<p>
			 Foodanza is a technology company that connects people with the best in their cities. We do this by empowering local businesses and in turn, generate new ways for people to earn, work and live. We started by facilitating door-to-door delivery, but we see this as just the beginning of connecting people with possibility &mdash; easier evenings, happier days, bigger savings accounts, wider nets&nbsp;and&nbsp;stronger&nbsp;communities.
		</p>
	</p>
	<p>
		<strong>
			 Delivering good to&hellip;
		</strong>
	</p>
	<p>
		<strong>
			 Customers
		</strong>
	</p>
	<p>
		<p>
			 With your favorite restaurants at your fingertips, Foodanza satisfies your cravings and connects you with possibilities &mdash; more time and energy for yourself and those&nbsp;you&nbsp;love.
		</p>
	</p>
	<p>
	</p>
	<p>
		<strong>
			 Foodanzies
		</strong>
	</p>
	<p>
		<p>
			 Delivering with Foodanza, you get flexibility and financial stability. Foodanza for a living or for a goal, all on your schedule and on your&nbsp;own&nbsp;terms.
		</p>
	</p>
	<p>
		<p>
			 &nbsp; <%=link_to 'Order now' , menus_path %>
		</p>
	</p>
	<p>
		<strong>
			 Merchants
		</strong>
	</p>
	<p>
		<p>
			 Foodanza&rsquo;s innovative merchant-focused solutions enhance your success by transforming your business. Open your doors to an entire city and see your reach and&nbsp;revenue&nbsp;grow.
		</span>
	</p>
	<p>
		<p>
			 <%= link_to 'Sign up now!!!' , new_user_path %>
		</p>
	</p>
	<p>
		<p>
			 &ldquo;[...] Foodanza has gone above and beyond to make their customers happy [...]&rdquo;
		</span>
	</p>
</div>

<p class="Center-Home"> <%= link_to sessions_home_path,class:"Home-link" do%>
      <i class="fa fa-home Icons-Align"></i>
      Home
    <%end%>
</p>
