<div class="Navigation">
  <div class="Navigation-Left">
    <%= image_tag("logo.jpg",class: "Logo-icon") %>
    <%= image_tag("name.png",class: "Logo-name" )%>
  </div>
  <div class="Navigation-Right">
    <%= link_to "Sign-up", new_user_path%>
    <%=link_to "Sign-in",new_sessions_path%>
  </div>
</div>
<br>
<img src="animation.gif" class="Home-gif">
