.Home-title{
  font-size: 20px;
  margin-bottom: 30px;
  color: rgb(56, 58, 57);
}

.Home-authenticate{
  font-size: 16px;
  margin-bottom: 20px;
  color: rgb(43, 41, 41);
}

.UserHeader{
  padding: 10px;
  background-color: darkgrey;
  font-size: 14px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.Flash-error{
  color: darkred;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: rgb(231, 108, 108);
  border: 2px solid red;
  height: 40px;
  text-align: center;
}

.Flash-success{
  color: rgb(4, 65, 4);
  margin-bottom: 20px;
  font-size: 16px;
  height: 40px;
  text-align: center;
  background-color: lightgreen;
  border: 2px solid green;
}

.Navigation {
  background-image: linear-gradient(to right,#005aa7,#fffde4);
  height: 70px;
  width: 100%;
}

.Navigation-Display{
  list-style: none;
  background-image: linear-gradient(to right,#005aa7,#fffde4);
  width: 100%;
}

.Navigation-Display li{
  float: left;
  position: relative;
}

.Navigation-right{
  float: right;
}

.Navigation a{
  display: block;
  padding: 20px;
  font-size: 25px;
  text-decoration: none;
}

.Navigation a:hover {
  background: skyblue;
  color: rgb(15, 39, 37);
  transition: 0.5s;
}

.Navigation a.active {
  background: #4CAF50;
  color:rgb(25, 203, 226);
}

.Navigation-Dropdown{
  position: absolute;
  top: 70px;
  right: 0px;
  display: none;
}

.Navigation-Display li:hover .Navigation-Dropdown{
  display:block ;
}

.Navigation-Dropdown li{
  width: 100%;
}

.Navigation-Dropdown li:hover ul {
  display: block;
}

.Navigation-Dropdown li a{
  padding: 20px;
  background: white;
  width: 250px;
}

.Navigation .Menu-Toggle{
  display: none;
}

.Icons-Align{
  align-self: center;
}

.Icon-Div{
  display: flex;
}


.SignUp{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  box-sizing: content-box;
  background-color: transparent;
}

.Icon{
  width: 30px;
  height: 30px;
  align-self:center;
}

.Home-gif{
  display: block;
  height: 500px;
  width: 500px;
  border-radius: 30%;
  margin-left: auto;
  margin-right: auto;
  padding:20px;
}

.Logo-icon{
  height: 70px;
  width: 60px;
}

.Logo-name{
  height: 70px;
  width: 320px;
  padding-left: 6px;
  padding-right: 30px;
}

.Home-svg{
  width: 50px;
  height: auto;
}

.Home-Align{
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.Home-Align a{
  color:rgb(8, 8, 80) ;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding: 20px 10px;
  font-weight: bold;
  font-size: large;
}

.HomeLink-Div:hover a{
  color: darkred;
  text-decoration: underline;
  text-decoration-color: darkblue;

}

.HomeLink-Div{
  display: flex;
  text-align: center;
  background-color: skyblue;
  width: 150px;
  border: rgb(12, 8, 53);
  border-radius: 20px;
  padding: 10px 10px;
  text-align: center;
  margin-left: 20px ;
}

.Top-Nav{
  cursor: pointer;
}

.Toggle{
  display: none;
}

@media(max-width: 1000px){
  .Navigation-Display{
    width: 100%;
    background: skyblue;
    overflow: hidden;
    max-height: 0px;
  }

  .Navigation ul{
    width: 100%;
  }

  .Navigation-Display li{
    width: 100%;
    box-align: center;
    box-sizing: inherit;
  }

  .Navigation{
    position: relative;
  }

  .Navigation-right{
    float:none;
    width: 100%;
  }

 .Navigation .Navigation-Dropdown{
    position: static;
    display: block;
    width: 100%;
  }

  .Navigation-Dropdown li a{
    background: #43bec9;
    width: 100%;
  }

  .Navigation .Menu-Toggle{
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 200%;
  }

  .Toggle{
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
    visibility: hidden;
  }

  .Toggle:checked ~ .Navigation-Display{
    max-height: 700px;
  }

  .Toggle:checked ~ .Navigation-Dropdown{
    max-height: fit-content;
  }
}
