.Menus-title{
  margin-left: 20px;
}

.Menus{
  display: grid;
  margin-top: 20px;
  margin-left: 10px;
}

.Menus-label{
  font-size: 20px;
  margin-right: 10px;
}

.Menus-button{
  margin: 8px 0;
  border-radius: 4px;
  border: 1px transparent;
  background-color:rgb(69, 180, 175);
  color: antiquewhite;
  font-weight: 600;
  font-size: medium;
  padding: 15px 25px;
  margin-top: auto;
  margin-left:20px ;
}

body {
  margin: 0;
  padding: 0;
  background-color: #c8d8e6;
  background: url("food.jpg") no-repeat center fixed;
  background-size: cover;
}

.Menus-name{
  margin: 8px 10px;
  border-radius: 4px;
  border: 1px solid rgb(82, 73, 73);
  padding: 16px 40px;
}


.Menus-select{
  margin-left: 10px;
}

.Menus-select label{
  font-size: 20px;
}

.Menus-select select {
  background-color: #0563af;
  color: white;
  padding: 12px;
  width: 200px;
  border: none;
  font-size: 18px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.Menus-select select option {
  padding: 30px;
}

.Menus-view{
  font-size: 20px;
  line-height: 1.2;
  color: rgb(33, 46, 56);
  margin-left: 20px;
}

.Menus-container{
  float: left;
  width: 400px;
  padding: 10px 10px;
  background-color: rgb(194, 233, 194);
  margin: 10px;
  border-radius: 7%;
}

.Menus-checkbox{
  line-height: 1.2;
  color: black;
  margin-left: 20px;
  margin-right: 8px;
  transform: scale(1.5);
}

ul{
  list-style: none;
  margin: 0 auto;
}

.Menus-DivItems{
  display:flex;
  align-content: center;
}

.Menu-delete{
  visibility: hidden;
  margin-left: 15px;
  margin-top: 25px;
}

.Edit-Icon{
  visibility: hidden;
  margin-top: 20px;
  margin-left: 15px;
  width: 40px;
  height: 40px;
}

.Menus-container:hover .Menu-delete{
  visibility: visible;
}

.Menus-container:hover .Edit-Icon{
  visibility: visible;
}

.Menus-Display{
  font-size: 30px;
  color: rgb(75, 66, 66);
  font-style: oblique;
  font-weight: bolder;
}

.MenuItems-Link{
 margin-left: 8px;
}

.MenusNew{
  align-items: center;
  margin-left: 30px;
}

.MenusNew-Label{
  margin: 30px;
}

.Menus-Align{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  box-sizing: content-box;
  background-color: transparent;
}

.MenuItem-Img{
  width: 90%;
  height: 200px;
  padding: 10px;
  margin-right: 10px;
  align-content: center;
}

.MenuItems{
  float: left;
  height: auto;
  width: 100%;
  padding: 15px 15px;
  margin: 5px;
}

.Quantity{
  margin: 5px 5px;
  color: #0563af;
}

.MenusNew-Label{
  margin:0 0 25px 0;
  padding:10px;
  text-align:center;
  font-size:30px;
  color:darken(#e5e5e5, 50%);
  border-bottom:solid 1px #e5e5e5;
}
