.OrderDetails{
  margin: auto;
  background-image: linear-gradient(to right,#e0eafc,#cfdef3);
  width: 50%;
  padding: 10px;
  display: inline-block;
  border-style: solid;
  border-color: rgb(15, 123, 196);

}

.OrderDetails-Items{
  width: 70%;
}

.OrderDetails-Status{
  width: 30%;
}

.OrderDetails-button{
  margin: 8px 0;
  border-radius: 4px;
  border: 1px transparent;
  padding: 13px 25px;
  background-color:rgb(69, 180, 175);
  color: antiquewhite;
  font-weight: 600;
  font-size: medium;
}

.OrdersSection-title{
  padding: 20px;
  margin-left: 30px;
  background-color: lightcyan;
  width: fit-content;
}

.Cart-Table,.Users-Table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

.Cart-Title,.Report-Title,.Invoice-Title,.Users-Title{
  background-color: white;
}

.Cart-TitleHead,.Report-TitleHead,.Invoice-TitleHead,.Users-TitleHead{
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-image: linear-gradient(#b2fefa,#0ed2f7);
  color: black;
}

.Cart-Items,.Report-Items,.Invoice-Items,.Users-Items{
  border: 1px solid #ddd;
  padding: 8px;
  height: 35px;
}

.Delivered{
  color: rgb(45, 20, 187);
}

.Status{
  color: rgb(236, 30, 30);
}

.OrdersSection{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.OrderName{
  float: right;
}

.EmptyCart-Img,.No-Orders{
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
}

.EmptyCart-Menu{
  text-align: center;
}

.Cart-Div{
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.Cart-Heading{
  background-color: rgb(142, 240, 194);
  width: max-content;
  padding: 5px 5px;
}

.Cart-Total{
  background-color: rgb(57, 247, 237);
  padding: 10px 10px;
  width: max-content;
}

.AddMenu-Link{
  background-color: rgb(26, 197, 169);
  color: black ;
  text-decoration: none;
  font-family: sans-serif;
  text-transform: uppercase;
  padding: 15px 15px;
  margin-left: 20px;
  border-radius: 10px;
  font-weight: bold;
}

.AddMenu-Link:hover{
  background-color: rgb(59, 245, 236);
}

.EmptyCart-Link{
  background-color: rgb(26, 197, 169);
  color: white ;
  text-decoration: none;
  font-family: sans-serif;
  text-transform: uppercase;
  padding: 10px 10px;
}

.EmptyCart-Link:hover{
  background-color: rgb(25, 134, 80);
}

.Invoice-link{
  float: right;
}

.Invoice-Label{
  float: right;
  margin-right: 20px;
}

.Invoice .Invoice-Table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: fit-content;
  margin:0 auto;
}

.Invoice{
  margin: auto;
  margin-left: 70px;
  margin-top: 50px;
  width: 65%;
  height: 750px;
  padding: 10px;
  display: inline-block;
  border-style: solid;
  border-color: rgb(15, 123, 196);
  background-color: ivory;
}

.total-price{
  float: right;
  margin: 20px 20px;
}

.Invoice-Date{
  float: right;
}

.Invoice-Details{
  margin-left: 60px ;
}

.Invoice-Head{
  background-color: skyblue;
  width: fit-content;
}

.Reports-Form{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  box-sizing: content-box;
  background-color: transparent;
}

.Reports-Table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  height: fit-content;
  margin-left: 40px;
}

.Counter{
  display: inline-flex;
  align-items: center;
}

.Report-input{
  margin: 8px 8px;
  border-radius: 4px;
  border: 1px solid rgb(241, 241, 241);
  padding: 12px 40px;
}

.Reports-input-id{
  display: flex;
  align-items: baseline;
}

.Report-submit{
  background: slateblue;
  border-radius: 2px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: block;
  font-size: 20px;
  line-height: 30px;
  margin: 0 auto;
  padding: 10px;
  width: 150px;
}

.Report-submit:hover{
  background-color: blue;
  color: white;
}

.Reports-CustomerID{
  float: right;
  padding: 10px 10px;
  font-weight: bold;
  background-color: rgb(170, 238, 235);
  width: max-content;
  margin-right:30px;
  font-size: 20px;
}

.Reports-Dates,.Reports-Details{
  display: flex;
  width: max-content;
  background-color: rgb(178, 231, 229);
  margin: 10px 10px;
}

.Reports-Dates .Start-Date,.End-Date{
  padding: 5px 5px;
}

.Reports-Details h3{
  padding: 5px 5px;
}

.Reports-Empty{
  padding: 25px 25px;
  margin: auto;
  background-color: brown;
  width: max-content;
  color: white;
}
