.NewUsers-title{
  margin-bottom: 40px;
  font-size: 30px;
  margin-left: 50px;
}

.Form-section{
  margin-bottom: 30px;
  display: inline-flex;
}

.Form-input{
  font-size: 20px;
  padding: 8px;
}

.FormInput-label{
  color: #292525;
  margin-bottom: 8px;
  font-size: large;
  font-weight: bold;
}

.Form-submit{
  font-size: 20px;
  padding: 20px;
  background-color: rgb(121, 224, 164);
  border: 0;
  border-radius: 8px;
}

.Users-label{
  font-size: 20px;
  margin-right: 10px;
}

.User{
  font-size: 20px;
  line-height: 1.2;
  color: rgb(27, 37, 37);
  margin-left: 20px;
}

.User-container{
  display: inline-flex;
  padding: 10px 5px;
  align-items: center;
}

.User-name{

}

.User-delete{
  visibility: hidden;
  margin-left: 8px;
}

.User-container:hover .User-delete{
  visibility:visible;
}

.UsersNew{
  margin: 30px;
}

.UsersNew-div{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
