.NewUsers-title{
  margin:0 0 25px 0;
  padding:10px;
  text-align:center;
  font-size:30px;
  color:rgb(3, 4, 63);
  background-color: lightcyan;
}

.Form-section{
  margin: 0 0 50px 0;
  position: relative;
}

.Form-input{
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  margin:0;
  background: #fff;
  border: 1px solid #dbdbdb;
  font-size: 25px;
  padding: 10px 10px;
  border-radius: 2px;
}

.FormInput-label{
  position: absolute;
  left: 8px;
  top: 12px;
  color: rgb(61, 57, 57);
  font-size: 16px;
  display: inline-block;
  padding: 4px 10px;
  font-weight: 400;
  background-color: rgba(255,255,255,0);
  top: -11px;
  background-color: rgba(255,255,255,0.8);
  font-size: 14px;
}

.Form-submit{
  background: rgb(24, 235, 235);
  box-shadow: 0 3px 0 0 darken(rgb(24,235,235), 10%);
  border-radius: 2px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 35px;
  line-height: 30px;
  margin: 0 auto;
  outline: none;
  padding: 10px;
  text-shadow: 0 1px #68B25B;
  width: 80%;
}

.Form-submit:hover{
  background: rgb(22, 190, 196);
  text-shadow:0 1px 3px darken(rgb(24,235,235), 30%);
  color: black;
}

.Forgot-Password{
 float: right;
}

.Users-label{
  font-size: 20px;
  margin-right: 10px;
}

.User{
  font-size: 20px;
  line-height: 1.2;
  color: rgb(27, 37, 37);
  margin-left: 20px;
}

.User-container{
  display: inline-flex;
  padding: 10px 5px;
  align-items: center;
}

.User-delete{
  visibility: hidden;
  margin-left: 8px;
}

.User-container:hover .User-delete{
  visibility:visible;
}

.UsersNew{
  background: #fff;
  padding: 20px 20px 10px;
  max-width: 500px;
  margin: 50px auto 0;
  box-shadow: 0 0 30px #222;
  border-radius: 2px;
}

.UsersNew-div{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.User-Title{
  width: fit-content;
  background-color: lightcyan;
}

.Users-Table{
  margin-left: 50px;
}
